body {
    margin: 0;
    padding: 0;
    border: none;
}

.orderBox {
    width: 49%;
    display: inline-block;
    position: relative;
    float: left;
    height: 100%;
    overflow: auto;
    border: 1px solid #f6912b;
}

.orderHead {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #f6912b;
}

.orderList {
    padding: 5px;
}
