.basketBox {
    position: fixed;
    left: 50%;
    margin-left: 320px;
    top: 5px;
    text-align: center;
}

.basketImg {
    width: 96px;
    height: 96px;
    background-image: url(/resources/icons/basket.png);
    display: inline-block;
}

.main_block {
    padding: 0;
    font-size: 14px;
    display: inline-block;
}
.main_block .element{
    border: solid 1px #C7CADD;
    margin: 0 3px 3px 0;
    float: left;
    padding: 5px;
}
.main_block .element:hover{
    border: solid 1px #000;
    background: #FFFAE7;
}
.main_block .pizzaImg{
    text-decoration: none;
}
.main_block .pizzaImg img{
    margin: 5px 0 0 5px;
    padding: 0;
    width: 140px;
    height: 130px;
}
.main_block .text{
    text-align: center;
    padding: 0;
    margin: 0;
}

.main_block .price_value{
    text-align: right;
}

.pizza_line{
    overflow: auto;
}
